declare namespace tei="http://www.tei-c.org/ns/1.0";
declare namespace output = "http://www.w3.org/2010/xslt-xquery-serialization";
declare option output:method "json";
declare option output:media-type "application/json";

map {
{% for i in facets %}
 "{{ i.key }}" :
    array {
        {% if i.qname %}
        for $e in //{{ rootElement }}//{{ i.qname }}/text()
            return normalize-space($e)

        {% else %}
        for $e in //{{ rootElement }}//{{ i.xpath }}/text()
            return normalize-space($e)

        {% endif %}
    } {{ "," if not loop.last else "" }}
{% endfor %}
}